<!DOCTYPE html>
<html   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org">

<head>
  <title>로그인</title>
</head>

<body>
<section>
  <div class="container">
    <h1>로그인</h1>

    <script>
      function LoginForm_submit(form) {
        form.username.value = form.username.value.trim();
        if (form.username.value.length == 0) {
          alert("아이디를 입력해주세요");
          form.username.focus();
          return;
        }

        form.password.value = form.password.value.trim();
        if (form.password.value.length == 0) {
          alert("비밀번호를 입력해주세요");
          form.password.focus();
          return;
        }

        form.submit();
      }
    </script>

    <form th:action method="POST" th:object="${memberLoginForm}" onsubmit="LoginForm_submit(this); return false;">
      <div>
        <span>아이디</span>
        <input type="text" th:field="*{username}">
      </div>
      <div>
        <span>비밀번호</span>
        <input type="password" th:field="*{password}">
      </div>
      <div>
        <input type="submit" value="로그인">
      </div>
    </form>
  </div>
</section>
</body>

</html>